@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Vt92zjWjo7hbQ_font-family: "Inter", sans-serif;
  --mixin-Vt92zjWjo7hbQ_font-size: 16px;
  --mixin-Vt92zjWjo7hbQ_font-weight: 400;
  --mixin-Vt92zjWjo7hbQ_font-style: normal;
  --mixin-Vt92zjWjo7hbQ_color: #535353;
  --mixin-Vt92zjWjo7hbQ_text-align: left;
  --mixin-Vt92zjWjo7hbQ_text-transform: none;
  --mixin-Vt92zjWjo7hbQ_line-height: 1.5;
  --mixin-Vt92zjWjo7hbQ_letter-spacing: normal;
  --mixin-Vt92zjWjo7hbQ_white-space: pre-wrap;
  --mixin-Vt92zjWjo7hbQ_user-select: text;
  --mixin-Vt92zjWjo7hbQ_text-decoration-line: none;
  --mixin-Vt92zjWjo7hbQ_text-overflow: clip;
  --mixin-pJEuoeokhDc3l_color: #000000;
  --mixin-pJEuoeokhDc3l_font-size: 24px;
  --mixin-pJEuoeokhDc3l_font-weight: 600;
  --mixin-pJEuoeokhDc3l_letter-spacing: -0.5px;
  --mixin-pJEuoeokhDc3l_line-height: 1.3;
  --mixin-pJEuoeokhDc3l_white-space: pre-wrap;
  --mixin-wzfI2HfvAUhnn_color: #000000;
  --mixin-wzfI2HfvAUhnn_font-size: 20px;
  --mixin-wzfI2HfvAUhnn_font-weight: 600;
  --mixin-wzfI2HfvAUhnn_letter-spacing: -0.3px;
  --mixin-wzfI2HfvAUhnn_line-height: 1.5;
  --mixin-wzfI2HfvAUhnn_white-space: pre-wrap;
  --mixin-5Z7ad1dxvsNe2_color: #000000;
  --mixin-5Z7ad1dxvsNe2_font-size: 16px;
  --mixin-5Z7ad1dxvsNe2_font-weight: 600;
  --mixin-5Z7ad1dxvsNe2_line-height: 1.5;
  --mixin-5Z7ad1dxvsNe2_white-space: pre-wrap;
  --mixin-6a9AMzn3MrAot_color: #0070f3;
  --mixin-6a9AMzn3MrAot_white-space: pre-wrap;
  --mixin-eqZ0WRaWMz2X9_border-left-color: #dddddd;
  --mixin-eqZ0WRaWMz2X9_border-left-style: solid;
  --mixin-eqZ0WRaWMz2X9_border-left-width: 3px;
  --mixin-eqZ0WRaWMz2X9_color: #888888;
  --mixin-eqZ0WRaWMz2X9_padding-left: 10px;
  --mixin-eqZ0WRaWMz2X9_white-space: pre-wrap;
  --mixin-v1ecICEA-IJ8s_color: #000000;
  --mixin-v1ecICEA-IJ8s_font-size: 64px;
  --mixin-v1ecICEA-IJ8s_font-weight: 700;
  --mixin-v1ecICEA-IJ8s_letter-spacing: -1px;
  --mixin-v1ecICEA-IJ8s_line-height: 1;
  --mixin-v1ecICEA-IJ8s_white-space: pre-wrap;
  --mixin-8sMJIhssZzX2E_color: #000000;
  --mixin-8sMJIhssZzX2E_font-size: 48px;
  --mixin-8sMJIhssZzX2E_font-weight: 700;
  --mixin-8sMJIhssZzX2E_line-height: 1.1;
  --mixin-8sMJIhssZzX2E_letter-spacing: -0.5px;
  --mixin-8sMJIhssZzX2E_white-space: pre-wrap;
  --mixin-f0V3auQMaIFEJ_color: #000000;
  --mixin-f0V3auQMaIFEJ_font-size: 32px;
  --mixin-f0V3auQMaIFEJ_font-weight: 600;
  --mixin-f0V3auQMaIFEJ_line-height: 1.2;
  --mixin-f0V3auQMaIFEJ_white-space: pre-wrap;
  --mixin-1yG5VM5YUuFcN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1yG5VM5YUuFcN_border-bottom-color: #dddddd;
  --mixin-1yG5VM5YUuFcN_border-bottom-style: solid;
  --mixin-1yG5VM5YUuFcN_border-bottom-width: 1px;
  --mixin-1yG5VM5YUuFcN_border-left-color: #dddddd;
  --mixin-1yG5VM5YUuFcN_border-left-style: solid;
  --mixin-1yG5VM5YUuFcN_border-left-width: 1px;
  --mixin-1yG5VM5YUuFcN_border-right-color: #dddddd;
  --mixin-1yG5VM5YUuFcN_border-right-style: solid;
  --mixin-1yG5VM5YUuFcN_border-right-width: 1px;
  --mixin-1yG5VM5YUuFcN_border-top-color: #dddddd;
  --mixin-1yG5VM5YUuFcN_border-top-style: solid;
  --mixin-1yG5VM5YUuFcN_border-top-width: 1px;
  --mixin-1yG5VM5YUuFcN_border-bottom-left-radius: 3px;
  --mixin-1yG5VM5YUuFcN_border-bottom-right-radius: 3px;
  --mixin-1yG5VM5YUuFcN_border-top-left-radius: 3px;
  --mixin-1yG5VM5YUuFcN_border-top-right-radius: 3px;
  --mixin-1yG5VM5YUuFcN_font-family: "Inconsolata";
  --mixin-1yG5VM5YUuFcN_padding-bottom: 1px;
  --mixin-1yG5VM5YUuFcN_padding-left: 4px;
  --mixin-1yG5VM5YUuFcN_padding-right: 4px;
  --mixin-1yG5VM5YUuFcN_padding-top: 1px;
  --mixin-1yG5VM5YUuFcN_white-space: pre-wrap;
  --mixin-8ApBurUgeLOsm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8ApBurUgeLOsm_border-bottom-color: #dddddd;
  --mixin-8ApBurUgeLOsm_border-bottom-style: solid;
  --mixin-8ApBurUgeLOsm_border-bottom-width: 1px;
  --mixin-8ApBurUgeLOsm_border-left-color: #dddddd;
  --mixin-8ApBurUgeLOsm_border-left-style: solid;
  --mixin-8ApBurUgeLOsm_border-left-width: 1px;
  --mixin-8ApBurUgeLOsm_border-right-color: #dddddd;
  --mixin-8ApBurUgeLOsm_border-right-style: solid;
  --mixin-8ApBurUgeLOsm_border-right-width: 1px;
  --mixin-8ApBurUgeLOsm_border-top-color: #dddddd;
  --mixin-8ApBurUgeLOsm_border-top-style: solid;
  --mixin-8ApBurUgeLOsm_border-top-width: 1px;
  --mixin-8ApBurUgeLOsm_border-bottom-left-radius: 3px;
  --mixin-8ApBurUgeLOsm_border-bottom-right-radius: 3px;
  --mixin-8ApBurUgeLOsm_border-top-left-radius: 3px;
  --mixin-8ApBurUgeLOsm_border-top-right-radius: 3px;
  --mixin-8ApBurUgeLOsm_font-family: "Inconsolata";
  --mixin-8ApBurUgeLOsm_padding-bottom: 3px;
  --mixin-8ApBurUgeLOsm_padding-left: 6px;
  --mixin-8ApBurUgeLOsm_padding-right: 6px;
  --mixin-8ApBurUgeLOsm_padding-top: 3px;
  --mixin-8ApBurUgeLOsm_white-space: pre-wrap;
  --mixin-G7LQURuUPRNKt_display: flex;
  --mixin-G7LQURuUPRNKt_flex-direction: column;
  --mixin-G7LQURuUPRNKt_align-items: stretch;
  --mixin-G7LQURuUPRNKt_justify-content: flex-start;
  --mixin-G7LQURuUPRNKt_list-style-position: outside;
  --mixin-G7LQURuUPRNKt_padding-left: 40px;
  --mixin-G7LQURuUPRNKt_position: relative;
  --mixin-G7LQURuUPRNKt_list-style-type: decimal;
  --mixin-G7LQURuUPRNKt_white-space: pre-wrap;
  --mixin-ScGbgzfC3YVoj_display: flex;
  --mixin-ScGbgzfC3YVoj_flex-direction: column;
  --mixin-ScGbgzfC3YVoj_align-items: stretch;
  --mixin-ScGbgzfC3YVoj_justify-content: flex-start;
  --mixin-ScGbgzfC3YVoj_list-style-position: outside;
  --mixin-ScGbgzfC3YVoj_padding-left: 40px;
  --mixin-ScGbgzfC3YVoj_position: relative;
  --mixin-ScGbgzfC3YVoj_list-style-type: disc;
  --mixin-ScGbgzfC3YVoj_white-space: pre-wrap;
  --mixin-xrKN1qnrgvkZf_color: #3291ff;
  --mixin-xrKN1qnrgvkZf_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Vt92zjWjo7hbQ_font-family);
  font-size: var(--mixin-Vt92zjWjo7hbQ_font-size);
  font-weight: var(--mixin-Vt92zjWjo7hbQ_font-weight);
  font-style: var(--mixin-Vt92zjWjo7hbQ_font-style);
  color: var(--mixin-Vt92zjWjo7hbQ_color);
  text-align: var(--mixin-Vt92zjWjo7hbQ_text-align);
  text-transform: var(--mixin-Vt92zjWjo7hbQ_text-transform);
  line-height: var(--mixin-Vt92zjWjo7hbQ_line-height);
  letter-spacing: var(--mixin-Vt92zjWjo7hbQ_letter-spacing);
  white-space: var(--mixin-Vt92zjWjo7hbQ_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-pJEuoeokhDc3l_color);
  font-size: var(--mixin-pJEuoeokhDc3l_font-size);
  font-weight: var(--mixin-pJEuoeokhDc3l_font-weight);
  letter-spacing: var(--mixin-pJEuoeokhDc3l_letter-spacing);
  line-height: var(--mixin-pJEuoeokhDc3l_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-wzfI2HfvAUhnn_color);
  font-size: var(--mixin-wzfI2HfvAUhnn_font-size);
  font-weight: var(--mixin-wzfI2HfvAUhnn_font-weight);
  letter-spacing: var(--mixin-wzfI2HfvAUhnn_letter-spacing);
  line-height: var(--mixin-wzfI2HfvAUhnn_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-5Z7ad1dxvsNe2_color);
  font-size: var(--mixin-5Z7ad1dxvsNe2_font-size);
  font-weight: var(--mixin-5Z7ad1dxvsNe2_font-weight);
  line-height: var(--mixin-5Z7ad1dxvsNe2_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-6a9AMzn3MrAot_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-eqZ0WRaWMz2X9_color);
  padding-left: var(--mixin-eqZ0WRaWMz2X9_padding-left);
  border-left: var(--mixin-eqZ0WRaWMz2X9_border-left-width)
    var(--mixin-eqZ0WRaWMz2X9_border-left-style)
    var(--mixin-eqZ0WRaWMz2X9_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-v1ecICEA-IJ8s_color);
  font-size: var(--mixin-v1ecICEA-IJ8s_font-size);
  font-weight: var(--mixin-v1ecICEA-IJ8s_font-weight);
  letter-spacing: var(--mixin-v1ecICEA-IJ8s_letter-spacing);
  line-height: var(--mixin-v1ecICEA-IJ8s_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-8sMJIhssZzX2E_color);
  font-size: var(--mixin-8sMJIhssZzX2E_font-size);
  font-weight: var(--mixin-8sMJIhssZzX2E_font-weight);
  line-height: var(--mixin-8sMJIhssZzX2E_line-height);
  letter-spacing: var(--mixin-8sMJIhssZzX2E_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-f0V3auQMaIFEJ_color);
  font-size: var(--mixin-f0V3auQMaIFEJ_font-size);
  font-weight: var(--mixin-f0V3auQMaIFEJ_font-weight);
  line-height: var(--mixin-f0V3auQMaIFEJ_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-1yG5VM5YUuFcN_font-family);
  border-radius: var(--mixin-1yG5VM5YUuFcN_border-top-left-radius)
    var(--mixin-1yG5VM5YUuFcN_border-top-right-radius)
    var(--mixin-1yG5VM5YUuFcN_border-bottom-right-radius)
    var(--mixin-1yG5VM5YUuFcN_border-bottom-left-radius);
  padding: var(--mixin-1yG5VM5YUuFcN_padding-top)
    var(--mixin-1yG5VM5YUuFcN_padding-right)
    var(--mixin-1yG5VM5YUuFcN_padding-bottom)
    var(--mixin-1yG5VM5YUuFcN_padding-left);
  border-top: var(--mixin-1yG5VM5YUuFcN_border-top-width)
    var(--mixin-1yG5VM5YUuFcN_border-top-style)
    var(--mixin-1yG5VM5YUuFcN_border-top-color);
  border-right: var(--mixin-1yG5VM5YUuFcN_border-right-width)
    var(--mixin-1yG5VM5YUuFcN_border-right-style)
    var(--mixin-1yG5VM5YUuFcN_border-right-color);
  border-bottom: var(--mixin-1yG5VM5YUuFcN_border-bottom-width)
    var(--mixin-1yG5VM5YUuFcN_border-bottom-style)
    var(--mixin-1yG5VM5YUuFcN_border-bottom-color);
  border-left: var(--mixin-1yG5VM5YUuFcN_border-left-width)
    var(--mixin-1yG5VM5YUuFcN_border-left-style)
    var(--mixin-1yG5VM5YUuFcN_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-8ApBurUgeLOsm_font-family);
  border-radius: var(--mixin-8ApBurUgeLOsm_border-top-left-radius)
    var(--mixin-8ApBurUgeLOsm_border-top-right-radius)
    var(--mixin-8ApBurUgeLOsm_border-bottom-right-radius)
    var(--mixin-8ApBurUgeLOsm_border-bottom-left-radius);
  padding: var(--mixin-8ApBurUgeLOsm_padding-top)
    var(--mixin-8ApBurUgeLOsm_padding-right)
    var(--mixin-8ApBurUgeLOsm_padding-bottom)
    var(--mixin-8ApBurUgeLOsm_padding-left);
  border-top: var(--mixin-8ApBurUgeLOsm_border-top-width)
    var(--mixin-8ApBurUgeLOsm_border-top-style)
    var(--mixin-8ApBurUgeLOsm_border-top-color);
  border-right: var(--mixin-8ApBurUgeLOsm_border-right-width)
    var(--mixin-8ApBurUgeLOsm_border-right-style)
    var(--mixin-8ApBurUgeLOsm_border-right-color);
  border-bottom: var(--mixin-8ApBurUgeLOsm_border-bottom-width)
    var(--mixin-8ApBurUgeLOsm_border-bottom-style)
    var(--mixin-8ApBurUgeLOsm_border-bottom-color);
  border-left: var(--mixin-8ApBurUgeLOsm_border-left-width)
    var(--mixin-8ApBurUgeLOsm_border-left-style)
    var(--mixin-8ApBurUgeLOsm_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-G7LQURuUPRNKt_display);
  flex-direction: var(--mixin-G7LQURuUPRNKt_flex-direction);
  align-items: var(--mixin-G7LQURuUPRNKt_align-items);
  justify-content: var(--mixin-G7LQURuUPRNKt_justify-content);
  list-style-position: var(--mixin-G7LQURuUPRNKt_list-style-position);
  padding-left: var(--mixin-G7LQURuUPRNKt_padding-left);
  position: var(--mixin-G7LQURuUPRNKt_position);
  list-style-type: var(--mixin-G7LQURuUPRNKt_list-style-type);
  flex-column-gap: var(--mixin-G7LQURuUPRNKt_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-ScGbgzfC3YVoj_display);
  flex-direction: var(--mixin-ScGbgzfC3YVoj_flex-direction);
  align-items: var(--mixin-ScGbgzfC3YVoj_align-items);
  justify-content: var(--mixin-ScGbgzfC3YVoj_justify-content);
  list-style-position: var(--mixin-ScGbgzfC3YVoj_list-style-position);
  padding-left: var(--mixin-ScGbgzfC3YVoj_padding-left);
  position: var(--mixin-ScGbgzfC3YVoj_position);
  list-style-type: var(--mixin-ScGbgzfC3YVoj_list-style-type);
  flex-column-gap: var(--mixin-ScGbgzfC3YVoj_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-xrKN1qnrgvkZf_color);
}
